<h4>Registration Page</h4>

<div class="alert alert-success" *ngIf="isSuccessful">Your registration is successful!</div>



<div class="conatiner">
    <form (ngSubmit)="!registrationForm.invalid && register()" #registrationForm="ngForm">
        <fieldset class="form-group">
            <label>Username:</label>
            <input type="text" #username="ngModel" [(ngModel)]="form.username" class="form-control" name="username"
                required="required">
        </fieldset>

        <fieldset class="form-group">
            <label>Email:</label>
            <input type="email" #email="ngModel" [(ngModel)]="form.email" class="form-control" name="email"
                required="required">
        </fieldset>

        <!-- <fieldset class="form-group">
            <label>Roles:</label>
            <select [(ngModel)]="form.role" name="role">
                <option *ngFor="let role of rolevalue" [value]="role">{{ role }}</option>
            </select>
        </fieldset> -->
        <fieldset class="form-group">
            <label>Role:</label>
            <select [(ngModel)]="form.role" class="form-control" name="role" required>
                <option value="user">user</option>
                <option value="admin">admin</option>
                <option value="mod">mod</option>

            </select>
        </fieldset>
        
        

        <fieldset class="form-group">
            <label>Password:</label>
            <input type="password" #password="ngModel" [(ngModel)]="form.password" class="form-control" name="password"
                required="required">
        </fieldset>
    <button type="submit" class="btn btn-success">Save</button>

    

    </form>

</div>