<div class=" container d-flex justify-content-center align-items-center" style="height: 70vh;" >
    <div class=" card bg-light shadow w-100">
        <h1 class="card-title">Login</h1>

        <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>
        
        <div class="mt-3">
            <label class="form-label"for="username">User Name</label>
            <input class="form-control" type="text" name="username" [(ngModel)]="username">
        </div>
        
        <div class="mt-2">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" [(ngModel)]="password">
        </div><br>
        <!-- <button class="btn btn-success" (click)=handleLogin()>Login</button> -->
        <!-- <button class="btn btn-success" (click)=handleBasicAuthLogin()>Login</button> -->
        <button class="btn btn-dark btn-sm m-1" (click)=handleJWTBasicAuthLogin()>Login</button>
        
        <button class="btn btn-dark btn-sm m-1" (click)=register()>register</button>
        
    </div>

</div>