<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink="" class="navbar-brand">Preetam Lahre</a></div>
        <ul class="navbar-nav">
            <!-- <li><a *ngIf="hardcodedAuthenticationService.isUserLogedIn()" routerLink="/welcome/Sneha" class="nav-link">Home</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLogedIn()" routerLink="/todos" class="nav-link">Todos</a></li> -->


            <li><a *ngIf="basicAuthenticationService.isUserLogedIn()" routerLink="/welcome/Preetam" class="nav-link">Home</a></li>
            <li><a *ngIf="basicAuthenticationService.isUserLogedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
            <li><a *ngIf="basicAuthenticationService.isUserLogedIn()" routerLink="/users" class="nav-link">Users</a></li>


        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <!-- <li><a *ngIf="!hardcodedAuthenticationService.isUserLogedIn()"routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLogedIn()" routerLink="/logout" class="nav-link">Logout</a></li> -->

            <li><a *ngIf="!basicAuthenticationService.isUserLogedIn()"routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="basicAuthenticationService.isUserLogedIn()" routerLink="/logout" class="nav-link">Logout</a></li>

        </ul>
    </nav>
</header>